{% extends "base.html" %}

{% block newlinks %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <table id="discount-books">

    {% for book in books_to_propose %}
    <tr>
        <td>{% include "book.html" with book_desc=book %}</td>
        <td> <button class="btn" type="button"><i class="fas fa-cart-plus"></i></button> </td>
    </tr>

    {% endfor %}

    </table>


{% endblock %}
