{% extends "base.html" %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


    {% if not books %}

        <p> Shopping Cart is empty. </p>

    {% else %}

        
        <table id="shopping_cart">
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>

            {% for i in books %}
            <tr>
                <td><a href = "{% url 'main_site:get_info' i.id  %}">{{ i.title }}</a></td>
                <!-- <td>
                    {% for j in i.authors %} 
                        {{ j }} 
                    {% endfor %}
                </td> -->
            </tr>
            {% endfor %}

        </table>

    {% endif %}

{% endblock %}
